.my_tasks {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.tasks_div {
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 100%;
    max-width: 500px;
    background: #fff;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}
.num_div {
    display: grid;
    place-items: center;
    background: #EBEDF0FF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #75787CFF;
}
.tasks_panel {
    width: 100%;
    max-width: 991px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    
}
.line_div {
    height: 40px;
    position: absolute;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 10px;
    transition: all ease .4s;
}
.tasks_div:hover .line_div{
    width: 30px;
}
.task {
    min-width: 250px;
    height: 150px;
    background: #fff;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}
@media screen and (max-width: 610px){
    .tasks_div {
        min-width: 100%;
    }
}