.user_panel {
    padding: 20px 0px 20px 0px;
    min-width: 300px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.user_data {
    text-align: center;
}
.user_data img {
    border-radius: 50%;
}
.user_name {
    font-size: 18px;
    font-weight: bold;
    color: #6A7997FF;
}
.user_status {
    font-size: 17px;
}
.user_email {
    color: gray;
    font-size: 17px;
}

@media screen and (max-width: 991px){
    .user_panel {
        min-width: 100%;
    }
}