.user_panel {
    padding: 0px 0px 20px 0px;
    min-width: 881px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.user_data {
    text-align: center;
}
.user_data img {
    border-radius: 50%;
}
.user_name {
    font-size: 18px;
    font-weight: bold;
    color: #6A7997FF;
}
.user_status {
    font-size: 17px;
}
.user_email {
    color: gray;
    font-size: 17px;
}
.background_color {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
}
.background_color img {
    border: 5px solid #fff;
    position: absolute;
    top: 60px;
}
@media screen and (max-width: 991px){
    .user_panel {
        min-width: 100%;
    }
}