.page_data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.settings_panel {
    margin-top: 25px;
    width: 100%;
    max-width: 781px;
    min-height: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.inpt_panel {
    display: flex;
    gap: 13px;
}
textarea {
    border: none;
    border-radius: 7px;
    padding: 10px;
    background: #fff;
    border: 1px solid #DDDFE2FF;
    height: 50px;
    width: 250px;
}
.user_img {
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 70px;
    left: 25px;
}
.bg_color {
    width: 100%;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    transition: all ease .5s;
    background: linear-gradient(to right, #1a2980, #26d0ce);
}
.select_img {
    height: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    color: #75787CFF;
    display: grid;
    place-items: center;
    position: absolute;
    top: 160px;
    left: 120px;
}
.bg_div {
    height: 230px;
}
.inpt_panel span {
    color: #6A7997FF;
    font-weight: bold;
}
.settings_data {
    display: flex;
    justify-content: center;
}
.change_btn {
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #333;
    background: #fff;
    position: absolute;
    right: 0px;
    margin: 15px;
}
.bg_color_div {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 7px;
    transition: all ease .3s;
}
.bg_color_div:hover {
    transform: scale(1.1);
}
.select_div {
    display: flex;
    position: absolute;
    top: 60px;
    right: 10px;
    gap: 10px;
    background: #fff;
    padding: 7px;
    border-radius: 10px;
    z-index: 5;
    animation: select_div_anim 0.5s;
}
@keyframes select_div_anim {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}
span {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.open_panel {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
    cursor: pointer;
}